<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h1>All Persons</h1>
    <p><a href="new/">ADD NEW</a></p>

    <table border="1" width="98%">
        <thead><td>ID</td><td>NAME</td><td>ADDRESS</td><td>CONTROL</td></thead>
        {% for person in allperson %}
             <tr><td>{{ person.0 }}</td><td>{{ person.1 }}</td><td>{{ person.2 }}</td><td> <a href="../edit?pid={{ person.0 }}&name={{ person.1 }}&address={{ person.2 }}">EDIT </a> | DELETE </td></tr>
        {% endfor %}
    </table>
</body>
</html>