<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<body>
<h1>HTML Links</h1>

<h2>URL Link</h2>
<p><a href="/app2_1/getValues1?pid=1&name=Raj&address=BHK">Click to Me!</a></p>

<h2>Form-1</h2>
<form action="../getValues2" method="get"> <!-- getValues2 -> url pattern -->
    <p>ID : <input type="text" name="txt1"> </p>
    <p>NAME : <input type="text" name="txt2"></p>
    <p>ADDRESS : <input type="text" name="txt3"></p>
    <p><input type="submit"></p>
</form>

<h2>Form-2</h2>
<form action="../getValues3" method="post"> <!-- getValues2 -> url pattern -->
    {% csrf_token %}
    <p>ID : <input type="text" name="txt1"> </p>
    <p>NAME : <input type="text" name="txt2"></p>
    <p>ADDRESS : <input type="text" name="txt3"></p>
    <p><input type="submit"></p>
</form>

<h2>Query Param</h2>
<p><a href="../getValues4/1/Broadway/Kathmandu/">Click Me</a></p>

</body>
</html>