{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'app4_2/css/bootstrap.min.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <img src="{% static  'app4_2/images/image_1.png' %}">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'app4_2/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'app4_2/js/1.12.9/umd/popper.min.js' %}"></script>
    <script src="{% static 'app4_2/js/bootstrap.min.js' %}"></script>
  </body>
</html>