<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Careers</title>
</head>
<body>
<h1>Make Your Next Transition Worthy!</h1>
<p>Professional IT Training leads to individuals being qualified for jobs and projects. Broadway Infosys has been providing consistent vacancy and career opportunities, in-house and external, to deserving candidates with decent salary prospects! If you are a part of us, you are a part of our facilities as well! Here are some career opportunities that you may be interested in!</p>
</body>
</html>