<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Option</title>
</head>
<body>
<h1>Our Payment Options</h1>
<p>With the online transactions being popular, it is necessary to know how to make payments in an easy way. One of the most-used and in-trend way is online payment. Here are how to make online payments for taking classes at Broadway Infosys. Note: The classes can be either onsite or online. online payment. Here are how to make online payments for taking classes at Broadway Infosys!</p>
</body>
</html>