{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mysite.com</title>
	<link rel="stylesheet" href="{% static 'app1_5/css/styles.css' %}">
	<script src="js/test.js"></script>
</head>
<body>
	<h1>Building Global IT Professionals since 2008</h1>'
	<h3>AN ISO 9001:2015 CERTIFIED IT LEARNING CENTER</h3>
	
	<p>Broadway Infosys Nepal is one of the best inclusive computer training institutes in Kathmandu, Nepal. Established in 2008, our professional IT Training and Development center has been employing experts in this field to impart professional education.</p>
	<h1>View Our Successful Students Here!</h1>
	<p>Here, we present our successful students. They have found a suitable career in the competitive professional IT world, in both national as well as international markets.</p>
	
	<h1>See What Our Students Say</h1>
	<p>All of our students have had something to say after their courses were completed! Students also provide feedback which is duly appreciated!</p>
	
	<h1>Image</h1>
	<img src="images/image1.png">
	
	<h1>Java Script Events</h1>
	<input type="button" value="Click Me" onClick="f1()">
</body>
</html>
