<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Edit Form</title>
</head>
<body>
<p>Current User : {{ cuser.username }} | <a href="logout">Logout</a> </p>

    <h2>User Edit Form</h2>
    <form action="/edit" method="post">
        {% csrf_token %}
        <input type="hidden" name="txtId" value="{{ user.id }}">
        <p>USER NAME : <input type="text" name="txtUser" value="{{ user.username }}"></p>
        <p>PASSWORD : <input type="text" name="txtPassword"  value="{{ user.password }}"></p>
        <p>FULL NAME : <input type="text" name="txtFullName" value="{{ user.fullname }}"></p>
        <p>EMAIL : <input type="text" name="txtEmail" value="{{ user.email }}"></p>
        <p><input type="submit" value="UPDATE"></p>
    </form>
</body>
</html>