<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User Entry Form</title>
</head>
<body>
    <p>Current User : {{ cuser.username }}</p>
    <h2>New User Entry Form</h2>
    <form action="/new" method="post">
        {% csrf_token %}
        <p>USER NAME : <input type="text" name="txtUser"></p>
        <p>PASSWORD : <input type="text" name="txtPassword"></p>
        <p>FULL NAME : <input type="text" name="txtFullName"></p>
        <p>EMAIL : <input type="text" name="txtEmail"></p>
        <p><input type="submit" value="SAVE"></p>
    </form>
</body>
</html>